{% extends 'just_co_away/base.html' %}

{% block content %}
<header class="page-header-meal">
    <div class="container-fluid">
  
        </a>
        <h1><a href="/listings">Meals for Patients (Based on location and availability)</a>
        <a href="{% url 'homepage' %}" class="top-menu" style="float:right">
            {% include './icons/house-door.svg' %}
        </a>
    </h1>
    </div>
  </div>
  </header>
    <article class = "listing">

        <h2><a class = "meal" href = "{% url 'meallisting_detail' pk=meallisting.pk %}">Provider: {{ meallisting.supplier|linebreaksbr }}</a></h2>
        <p>Available? {{ meallisting.available|linebreaksbr|yesno:"Yes,No" }}</p>
        <p>Details: {{ meallisting.price|linebreaksbr }}</p>
        <p>Phone Number: {{ meallisting.phone_number|linebreaksbr }}</p>
        <p>Landline Number: {{ meallisting.landline_number|linebreaksbr }}</p>
        <p>Whatsapp Number: {{ meallisting.whatsapp_number|linebreaksbr }}</p>
        <p>Address: {{ meallisting.address|linebreaksbr }}</p>
        <p>State: {{ meallisting.state|linebreaksbr }}</p>
        <p>City: {{ meallisting.city|linebreaksbr }}</p>
        <p>PIN Code: {{ meallisting.pincode|linebreaksbr }}</p>
        <p>Delivery Available? {{ meallisting.delivery|linebreaksbr|yesno:"No,Yes" }}</p>
        <p>Max. Delivery Distance: {{ meallisting.maximum_delivery_distance|linebreaksbr }}</p>
        <p>Verified at: {{ meallisting.verified_on|linebreaksbr }} on {{ meallisting.date_verified_on|linebreaksbr }}</p>
    </article>
{% endblock %}